BOT_TOKEN=PASTE_BOT_TOKEN_HERE
ADMIN_ID=PASTE_YOUR_TELEGRAM_ID_HERE
GROUP_ID=-100PASTE_GROUP_ID_HERE
EXCEL_FILE=groups.xlsx
# Railway: Volume mount /data MAJBURIY
DB_PATH=/data/sklad_bot.db
TZ=Asia/Tashkent
